body {
	background: rgb(246, 252, 255);
	margin: 0px;
}

#page-1 {
	background-image: url('./assets/bg_shapes.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	margin-top: -30px;
	background-attachment: fixed;
}

#page-2 {
	background-image: url('./assets/p2/bg_shapes.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-color: rgb(7,68,94);
	background-attachment: fixed;
}

#top-cluster {
	background-image: url('./assets/top_cluster.png');
	position: absolute;
	top: 0;
	height: 352px;
	width: 308px;
	left: 508px;
	background-repeat: no-repeat;
}

#bottom-left-cluster {
	background-image: url('./assets/bottom_left_cluster.png');
	background-repeat: no-repeat;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 668px;
	left: 0px;
}

#upper-left-cluster{
	background-image: url('./assets/upper_left_cluster.png');
	background-repeat: no-repeat;
	width: 84px;
	height: 135px;
	left: 40;
	top: 162px;
	position: absolute;
}

#phone {
	background-image: url('./assets/p2/phone.png');
	background-repeat: no-repeat;
	width: 500px;
	height: 865px;
	position: absolute;
	margin: 80px 0px;
	right: 190;
}

#top-center {
	background-image: url('./assets/p2/top_center.png');
	left: 648px;
	width: 72px;
	height: 120px;
	position: absolute;
	margin-top: -45px;
}

#top-right {
	background-image: url('./assets/p2/top_right.png');
	width: 205px;
	height: 120px;
	position: absolute;
	right: 135px;
	margin-top: 20px;
}

#bottom-right {
	background-image: url('./assets/p2/bottom_right_cluster.png');
	width: 169px;
	height: 233px;
	position: absolute;
	right: -20;
	margin-top: 711px;
	background-repeat: no-repeat;
}

#bottom-left {
	background-image: url('./assets/p2/bottom_left.png');
	width: 86px;
	height: 142px;
	background-repeat: no-repeat;
	position: absolute;
	margin-top: 700px;
}

.window-logo {
	background-image: url('./assets/window_accent.png');
	width: 61px;
	height: 100px;
	position: absolute;
	top: 775px;
}

h1 {
	font-family: Helvetica;
	font-size: 60px;
	font-weight: 500;
	color: #183A4F;
	margin: 10px 0px;
	line-height: 68px;
}

#page-2 h1 {
	color: #fff;
	margin: 20px 0px;
}

h2 {
	font-family: Helvetica;
	color: #5D5D5D;
	font-weight: 500;
	font-size: 18px;
	line-height: 33px;
}

.intro {
	position: absolute;
	width: 540px;
	left: 165px;
	top: 319px;
}

.logo-1, .logo-2 {
	background-size: 128px 32px;
	width: 128px;
	height: 32px;
	left: 166px;
	top: 33px;
	position: fixed;
	z-index: 100;
}

.logo-1 {
	background-image: url('./assets/logodark@2x.png');
}

.logo-2 {
	background-image: url('./assets/logo-2.png');
	opacity: 0;
}
.share-card {
	background: rgb(232, 50, 103);
	width: 375px;
	height: 635px;
	position: relative;
	top: 193px;
	left: 865px;
	border-radius: 15px;
	box-shadow: 0px 2px 34px rgba(0,0,0,0.5);
}

.share-card img {
	width: 375px;
}

.share-card .text {
	margin: 30px;
}

.share-card h3 {
	font-family: Helvetica;
	font-weight: 300;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.7);
	margin: 0px 0px 10px 0px;
}

.share-card h1 {
	font-family: Helvetica;
	color: white;
	font-size: 30px;
	font-weight: 400;
	margin: 0px;
}

.content-card {
	float: left;
	/*border: 1px solid grey;*/
	height: 221px;
	width: 540px;
	margin-left: 165px;
	margin-top: 134px;
}

.content-card .text {
	font-family: Helvetica;
	float: left;
	margin-top: 75px;
	font-size: 18px;
	line-height: 33px;
	width: 300px;
	margin-left: 30px;
	color: rgba(255,255,255,0.7);
}

.num {
	font-family: sans-serif;
	margin-left: 145px;
	font-size: 60px;
	color: #fff;
	position: absolute;
	margin-top: 75px;
}

.sub-card{
	display: flex;
	margin-bottom: 20px;
	height: 210px;
}

.sub-card:hover{
	animation: 0.5s fade;
	opacity: 0.5;
}

.sub-card:nth-of-type(2) {
	background-color: #fff;
}

#content-img-1,
#content-img-2,
#content-img-3 {
	width: 161px;
	/*height: 214px;*/
	/*margin-bottom: 20px;*/
	background-repeat: no-repeat;
}

#content-img-1 {
	background-image: url('./assets/p2/img1.png');
	width: 161px;
	/*height: 214px;*/
}

#content-img-2 {
	background-image: url('./assets/p2/img2.png');
}

#content-img-3 {
	background-image: url('./assets/p2/img3.png');
}

@keyframes fade {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}