body {
	background: rgb(246, 252, 255);
	background-image: url('./assets/bg_shapes.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.top-cluster {
	background-image: url('./assets/top_cluster.png');
	position: absolute;
	top: 0;
	height: 352px;
	width: 308px;
	left: 508px;
	background-repeat: no-repeat;
}

.bottom-left-cluster {
	background-image: url('./assets/bottom_left_cluster.png');
	background-repeat: no-repeat;
	width: 874px;
	height: 799px;
	position: absolute;
	top: 668px;
	left: 0px;
}

.upper-left-cluster{
	background-image: url('./assets/upper_left_cluster.png');
	background-repeat: no-repeat;
	width: 84px;
	height: 135px;
	left: 40;
	top: 162px;
	position: absolute;
}

.window-logo {
	background-image: url('./assets/window_accent.png');
	width: 61px;
	height: 100px;
	position: absolute;
	top: 775px;
	right: 50px;
}

h1 {
	font-family: Helvetica;
	font-size: 60px;
	font-weight: 500;
	color: #183A4F;
	margin: 10px 0px;
	line-height: 68px;
}

h2 {
	font-family: Helvetica;
	color: #5D5D5D;
	font-weight: 500;
	font-size: 18px;
	line-height: 33px;
}

.intro {
	position: absolute;
	width: 540px;
	left: 165px;
	top: 319px;
}

.logo {
	background-image: url('./assets/logodark@2x.png');
	background-size: 128px 32px;
	width: 128px;
	height: 32px;
	left: 166px;
	top: 33px;
	position: relative
}

.share-card {
	background: rgb(232, 50, 103);
	width: 375px;
	height: 635px;
	position: relative;
	top: 193px;
	left: 865px;
	border-radius: 15px;
	box-shadow: 0px 2px 34px rgba(0,0,0,0.5);
}

.share-card img {
	width: 375px;
}

.share-card .text {
	margin: 30px;
}

.share-card h3 {
	font-family: Helvetica;
	font-weight: 300;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.7);
	margin: 0px 0px 10px 0px;
}

.share-card h1 {
	font-family: Helvetica;
	color: white;
	font-size: 30px;
	font-weight: 400;
	margin: 0px;
}